include includes/mixins.pug
.

  <?xml version="1.0" encoding="utf-8"?>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Contact Info</title>

    <style type="text/css" media="all">@import url(def-min.css);</style>
  </head>
  <body>
  <div id="flow" style="padding-right: 16px;">
    <div id="nav">
      <a href="index.html">Neil Curry</a>
      <a href="publications.html">Publications</a>
      <a href="reviews.html">Reviews</a>
      <a href="contact.html" class="selected">Contact Info</a>
    </div>
    <h1>Contact Info</h1>
    <div id="left">
      <div class="address">
        <p><b>Neil Curry</b></p>
        <p>2 Trinity Gardens</p>
        <p>Ulverston</p>
        <p>Cumbria, LA12 7UB</p>
        <p>UK</p>
      </div>
      <p>email: <a href="mailto:neil@neilcurry.com" title="mailto:neil@neilcurry.com">neil@neilcurry.com</a></p>
    </div>
    <img src="images/neil_yosemite.jpg" alt="" style="border: none; height: 217px; width: 306px;  float: left; margin-left: 20px;" />
  </div>

+footerJS
.

  </body>
  </html>
