include includes/mixins.pug
.

  <?xml version="1.0" encoding="utf-8"?>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Publications</title>

    <style type="text/css" media="all">@import url(def-min.css);</style>
    <style type="text/css" media="screen">
      #publications p {
          margin: 30px 70px 40px 0px;
      }
    </style>
  </head>
  <body>
  <div id="flow">
    <div id="nav">
      <a href="index.html">Neil Curry</a>
      <a href="publications.html" class="selected">Publications</a>
      <a href="reviews.html">Reviews</a>
      <a href="contact.html">Contact Info</a>
    </div>
    <h1>Publications &amp; Performances</h1>
    <div id="publications">
      <p>1960 A verse translation of Euripides <em>The Bacchae</em> performed at the Tower Theatre, Canonbury, &amp; at Edinburgh Festival.</p>
      <p>1962 A verse translation of <em>Antigone</em> produced on BBC TV.</p>
      <p>1963 <em>The Bacchae</em> A verse translation of Euripides' last and most harrowing tragety. Produced on BBC TV</p>
      <p>1964 A verse translation of <em>The Trojan Women</em> produced at Theatre Royal, Stratford East.</p>
      <p>1964 <em>The Trojan Women</em> A verse translation of Euripides' powerful anti-war drama. Published by Stage Sixty.</p>
      <p>1966 <em>The Trojan Women</em> published by Methuen.</p>
      <p>1969 <em>The Plain People</em> &#8212; poems published by Nene Press.</p>
      <p>1970 A verse translation of Euripides <em>The Bacchae</em> published by Doubleday, New York.</p>
      <p>1981 <em>The Bacchae, Helen, The Trojan Women</em> published by Cambridge University Press.</p>
      <p>1982 <a href="https://www.amazon.co.uk/exec/obidos/ASIN/0904533603/qid%253D1138612681/sr%253D1-12/ref%253Dsr%255F1%255F0%255F12/026-1198960-4700421" title="More on Between Root and Sky">Between Root and Sky</a>, a series of flower poems, illustrated and published by Mandeville Press.</p>
      <p>1986 Won poetry Prize at Cheltenham Literary Festival.</p>
      <p>1987 <em>The Maidenhair Tree</em>, poems published by Mir Press.</p>
      <p>1988 <a href="https://www.amazon.co.uk/exec/obidos/ASIN/1870612302/qid%253D1138612634/sr%253D8-4/ref%253Dsr%255F8%255Fxs%255Fap%255Fi4%255Fxgl/026-1198960-4700421" title="More on Ships in Bottles">Ships in Bottles</a> poems published by Enitharmon Press.A Poetry Book Society Recommendation.</p>
      <p>1992 <a href="https://www.amazon.com/gp/product/1870612132/qid=1138612407/sr=1-7/ref=sr_1_7/104-0053566-9855104?s=books&amp;v=glance&amp;n=283155" title="More on Walking to Santiago">Walking to Santiago</a>, published by Enitharmon Press. A sequence of poems recording Neil Curry's 500 mile walk to Santiago de Compostela. This was featured in a BBC Kaleidoscope programme.</p>
      <p>1993 <em>CD Poets 1</em> published by Bellew Publishing. This was a book containing a selection of the work of 4 poets with an accompanying CD on which we read our poems.</p>
      <p>1993 <a href="https://www.enitharmon.co.uk/books/viewBook.asp?BID=78" title="More on The Bending of the Bow">The Bending of the Bow</a> published by Enitharmon Press in a limited and in a trade edition. This is a version of the closing books of The Odyssey and was illustrated by the American artist Jim Dine. It was featured on BBC Nightwaves.</p>
      <p>1994 <a href="https://www.amazon.com/gp/product/0571170048/qid=1138612407/sr=1-9/ref=sr_1_9/104-0053566-9855104?s=books&amp;v=glance&amp;n=283155" title="More on The Collected Poems of Norman Nicholson">The Collected Poems of Norman Nicholson</a> Faber &amp; Faber. [Editor]</p>
      <p>1998 <em>Fourteen Steps Along the Edge</em>, a sequence of poems published by Dedalus Press in Dublin.</p>
      <p>1998 <em>Miracle and The Swimmers.</em> These translations of the work of two Israeli poets, Amir Or and Agi Mishol, were the result of a Northern Arts translation seminar at the Tyrone Guthrie Centre in Ireland.</p>
      <p>1999 <em>Tidelines</em>, poems published by Reminder Press.</p>
      <p>2001 <em>Norman Nicholson</em> a study of his poems published by Northern Lights.</p>
      <p>2002 <em>An Audience with Margaret Fell</em> a play performed at Swarthmoor Hall which tells of the life of Margret Fell the wife of George Fox the founder of the Quaker movement.</p>
      <p>2003 <a href="https://www.enitharmon.co.uk/books/viewBook.asp?BID=80" title="More on The Road to the Gunpowder House">The Road to the Gunpowder House</a> poems published by Enitharmon Press.</p>
      <p>2003 An essay on the Scots poet Andrew Young published in The Reader.</p>
      <p>2004 A libretto for Gary Higginson&#8217;s oratorio <em>Dame Julian of Norwich</em></p>
      <p>2005 <a href="https://www.amazon.co.uk/exec/obidos/ASIN/0746310234/qid%253D1138612665/sr%253D1-7/ref%253Dsr%255F1%255F2%255F7/026-1198960-4700421" title="More on Christopher Smart">Christopher Smart</a> a study of his religious verse published by Northcote House</p>
      <p>2007 <a id="other-rooms" href="http://www.amazon.co.uk/Other-Rooms-Selected-Neil-Curry/dp/1904634443/ref=sr_1_6/203-0943765-4048729?ie=UTF8&s=books&qid=1186287275&sr=1-6" title="More on Other Rooms">Other Rooms</a> new and selected poems published by Enitharmon Press.</p>
      <p>2007 <a href="https://www.amazon.co.uk/Cumberland-Coast-Neil-Curry/dp/1904147283/ref=sr_1_1?ie=UTF8&s=books&qid=1244424130&sr=1-1" title="The Cumberland Coast">The Cumberland Coast</a> Neil Curry tells the story of The Cumberland Coast an area rich in character and history</p>
      <p>2008 <a href="https://www.amazon.co.uk/Student-Alexander-Greenwich-Exchange-Literary/dp/1906075239/ref=sr_1_1?ie=UTF8&s=books&qid=1244424422&sr=1-1" title="Alexander Pope">Alexander Pope</a> a study of the finest poetry of the 18th century.</p>
      <p>2008 <em>O leitor de The Guardian</em> a selection of poems translated into Portuguese by Francisco José Craveiro de Carvalho</p>
      <p>2009 <a href="https://www.greenex.co.uk/ge_record_detail.asp?ID=112" title="George Herbert">George Herbert</a>, an insightful and carefully researched study of the poet George Herbert (1593-1633)</p>

      <p>2011 <a href="https://www.amazon.co.uk/18th-Century-Poets-Neil-Curry/dp/1906075506/ref=sr_1_1?s=books&ie=UTF8&qid=1341033246&sr=1-1" title="Six Eighteenth Century Poets">Six Eighteenth Century Poets</a> is an assessment of the works and lives of Thomson, Johnson, Collins, Gray, Smart and Goldsmith challenges the notion that the poetic landscape between the high watermarks of Pope and Wordsworth was something of a bland mudflat.</p>
      <p>2013 <a href="https://www.shoestring-press.com/2013/11/the-fable-of-the-world/" title="The Fable of the World">The Fable of the World</a> translations from the French of Jules Supervielle.</p>
      <p>2014 <a href="https://www.enitharmon.co.uk/pages/store/products/ec_view.asp?PID=604" title="Some Letters Never Sent">Some Letters Never Sent</a> verse letters to people who have been important in Neil Curry’s life ranging from Angela Carter to the Venerable Bede. Published by Enitharmon Press.</p>
      <p>2015 <em>William Cowper a Revaluation</em> an analysis of Cowper's poetry together with a view of the man which is markedly different from the accepted ‘stricken deer’ image. Publisher Greenwich Exchange.</p>

      <p>2018 <em>On Keeping Company with Mrs Woolf</em> In this collection Neil Curry and Virginia Woolf meet in each other’s time zones, strike up a close friendship and find they have much to talk about.</p>      
      <p>2020 <em>William Shenstone</em> a comprehensive study of this multi-talented poet, landscape gardener and essayist.</p>
      <p>2021 <em>Northumbrian Book of Hours</em> a sequence of prose poems recounting St Cuthbert’s journey through time and space to the holy island of Lindisfarne.</p>
    </div>
    <div id="right">
      <img src="images/trojan_woman.jpg" alt="" style="border: none; height: 193px; width: 132px;" />

      <a href="https://www.amazon.co.uk/exec/obidos/ASIN/1870612302/qid%253D1138612634/sr%253D8-4/ref%253Dsr%255F8%255Fxs%255Fap%255Fi4%255Fxgl/026-1198960-4700421" title="More on Ships in Bottles">
        <img src="images/ships_in_bottles.jpg" alt="Cover: Ships in Bottles" style="border: none; height: 201px; width: 135px;" /></a>

      <a href="https://www.amazon.com/gp/product/1870612132/qid=1138612407/sr=1-7/ref=sr_1_7/104-0053566-9855104?s=books&amp;v=glance&amp;n=283155" title="More on Walking to Santiago">
        <img src="images/walking_to_santiago.jpg" alt="Cover: Walking to Santiago" style="border: none; height: 197px; width: 134px;" /></a>

      <a href="https://www.enitharmon.co.uk/books/viewBook.asp?BID=78" title="More on The Bending of the Bow">
        <img src="images/bending_of_the_bow.jpg" alt="Cover: The Bending of the Bow" style="border: none; height: 200px; width: 133px;" /></a>

      <a href="https://www.enitharmon.co.uk/books/viewBook.asp?BID=80" title="More on The Road to the Gunpowder House">
        <img src="images/road_to_the_gunpowder_house.jpg" alt="Cover: The Road to the Gunpowder House" style="border: none; height: 195px; top: 1067px; width: 130px;" /></a>

      <a href="https://www.amazon.co.uk/exec/obidos/ASIN/0746310234/qid%253D1138612665/sr%253D1-7/ref%253Dsr%255F1%255F2%255F7/026-1198960-4700421" title="More on Christopher Smart">
        <img src="images/christopher_smart.jpg" alt="Cover: Christopher Smart" style="border: none; height: 199px; width: 130px;" /></a>

      <a href="https://www.amazon.com/gp/product/0571170048/qid=1138612407/sr=1-9/ref=sr_1_9/104-0053566-9855104?s=books&amp;v=glance&amp;n=283155" title="More on The Collected Poems of Norman Nicholson">
        <img src="images/norman_nicholson.jpg" alt="Cover: The Collected Poems of Norman Nicholson" style="border: none; height: 193px; width: 127px;" /></a>

      <a id="other-rooms" href="http://www.amazon.co.uk/Other-Rooms-Selected-Neil-Curry/dp/1904634443/ref=sr_1_6/203-0943765-4048729?ie=UTF8&s=books&qid=1186287275&sr=1-6" title="More on Other Rooms">
        <img src="images/other-rooms.jpg" alt="Cover: Other Rooms" style="border: none; height: 197px; width: 135px;" /></a>

      <a href="https://www.amazon.co.uk/Cumberland-Coast-Neil-Curry/dp/1904147283/ref=sr_1_1?ie=UTF8&s=books&qid=1244424130&sr=1-1" title="The Cumberland Coast">
        <img src="images/cumberland-coast.jpg" alt="Cover: The Cumberland Coast" style="border: none; height: 197px; width: 135px;" /></a>

      <a href="https://www.amazon.co.uk/Student-Alexander-Greenwich-Exchange-Literary/dp/1906075239/ref=sr_1_1?ie=UTF8&s=books&qid=1244424422&sr=1-1" title="The Cumberland Coast">
        <img src="images/alexander-pope.jpg" alt="Cover: Alexander Pope" style="border: none; height: 197px; width: 135px;" /></a>

      <a href="https://www.greenex.co.uk/ge_record_detail.asp?ID=112" title="George Herbert">
        <img src="images/george-herbert.jpg" alt="Cover: George Herbert" alt="Cover: George Herbert" style="border: none; height: 200px; width: 135px;" /></a>

      <a href="https://www.amazon.co.uk/18th-Century-Poets-Neil-Curry/dp/1906075506/ref=sr_1_1?s=books&ie=UTF8&qid=1341033246&sr=1-1" title="Six Eighteenth Century Poets">
        <img src="images/six-18th-century-poets.jpg" alt="Cover: George Herbert" alt="Cover: Six Eighteenth Century Poets" style="border: none; height: 200px; width: 135px;" /></a>

      <a href="https://www.shoestring-press.com/2013/11/the-fable-of-the-world/" title="The Fable of the World">
        <img src="images/fabel-of-the-world.png" class="shadow" alt="Cover: The Fable of the World"></a>

      <a href="https://www.enitharmon.co.uk/pages/store/products/ec_view.asp?PID=604" title="Some Letters Never Sent">
        <img src="images/Some_Letters_Never_Sent.jpg" class="shadow" alt="Cover: Some Letters Never Sent"></a>


      <img src="images/img_cover_159.jpg" class="shadow" alt="Cover: William Cowper a Revaluation">
      <img src="images/on-keeping-company-with-mrs-woolf.jpg" class="shadow" alt="Cover: On Keeping Company with Mrs Woolf">
      <img src="images/william_shenstone.jpg" class="shadow" alt="Cover: William Shenstone">
      <img src="images/northumbrian_book_of_hours.jpg" class="shadow" alt="Cover: Northumbrian Book of Hours">
    </div>
  </div>

+footerJS
.

  </body>
  </html>
